/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(Basemod.png);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

/*END PS4 Controller Styling*/
