/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(base.png);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4 .dpad {
    position: absolute;
    width: 127px;
    height: 127px;
    top: 181px;
    left: 103px;
}

.ds4 .face {
    background: url(dpadtest.png);
    position: absolute;
}

.ds4 .face.up, .ds4 .face.down {
    width: 44px;
    height: 54px;
}

.ds4 .face.left, .ds4 .face.right {
    width: 53px;
    height: 44px;
}

.ds4 .face.up {
    left: 47px;
    top: 0;
    background-position: -44px 0px;
}

.ds4 .face.down {
    left: 47px;
    bottom: 0;
    background-position: 0px 0;
}

.ds4 .face.left {
    top: 40px;
    left: 0;
    background-position: 106px 0;
}

.ds4 .face.right {
    top: 40px;
    right: 0px;
    background-position: 55px 0;
}

.ds4 .face.pressed {
    /* margin-top: 5px; */
    background-position-y: 54px;
}

.ds4.half {
    margin-top: -300px;
}

/*END PS4 Controller Styling*/
